@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can keep any custom styles below the Tailwind directives */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* You can remove most of the existing CSS since Tailwind will provide utility classes for these styles */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}